*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 80px 20px 125px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.container {
  max-width: 500px;
  min-width: 250px;
  height: 500px;
  text-align: center;
  flex: 1 1 250px;
}

.img-1 {
  background-image: url(images/floral-m.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.img-2 {
  background-image: url(images/wedding-m.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.img-3 {
  background-image: url(images/wedding-cake-m.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 100%;
  height: 100%;
  position: relative;
  
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(243, 156, 18, 0.75);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.img-hover {
  transition: all 1.1s;
}

.card {
  background-color: white;
  min-height: 200px;
  max-width: 350px;
  text-align: center;
  padding: 15px;
  margin: -50px 50px 0 50px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.img-container:hover .img-hover {
  transform: scale(1.2);
}

.img-container:hover .overlay {
  height: 100%;
}

